@import '~antd/dist/antd.css';

body {
    min-width: 1280px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f0f2f5;
}

.root {
    height: 100%;
}

.ant-input {
    border-radius: 0px;
}

.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0);
}

.ant-modal-header {
    padding: 12px;
}

.ant-modal-body {
    padding: 12px;
}

.ant-modal-footer {
    padding: 12px;
}

.ant-modal-confirm .ant-modal-body {
    padding: 12px;
}

.ant-modal-content {
    border-radius: 0px;
}

.ant-btn {
    border-radius: 0px;
}
